.idea
.vscode
.cursor
/bin
/internal/engine/router/static/*
!/internal/engine/router/static/.gitkeep
/logs
docs/*.md
*.so
/api/*/*/*.pb.go
/cmd/arcentra/wire_gen.go
/cmd/arcentra-agent/wire_gen.go
.DS_Store